.header {
  display: flex;
  max-width: 1536px;
  align-items: flex-end;
  font-weight: 700;
  padding-bottom: 0.75rem;

    .app-name {
      margin-bottom: auto;
      font-size: 32px;
  }
  .theme-options {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    .theme-levels {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 0.25rem;
      align-items: center;

      .level-values {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }

    .theme-changer {
      display: grid;
      grid-template-columns: 0.875fr 1.125fr;
      align-items: center;

      .theme-text {
        display: flex;
        justify-content: center;
        margin-right: 1.25rem;
        font-size: 12px;
        letter-spacing: 2px;
      }

      .button-area {
        width: 100%;

        .button-container {
          border-radius: 2rem;
          display: grid;
          width: 100%;
          height: 2.85vh;
          grid-template-columns: 1fr 1fr 1fr;
          align-items: center;

          .button {
            margin-left: 0.25rem;
            height: 70%;
            width: 75%;
            border-radius: 4rem;
            border: none;
          }
        }
      }

      .button-container-2 {
        justify-content: center;

        button {
          height: 90%;
          width: 25%;
        }
      }

      .button-container-3 {

      }
    }
  }
}

@media screen {
  .app-name {
    font-size: 100px;
  }
}

@media (max-width: 510px) {
  .app-name {
    font-size: 100px;

    .theme-text {
      margin-right: 0.25rem;
    }
  }
}