.output-container {
  height: 26.5%;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: 399px) {
    height: 25%;
  }

  @media (min-width: 400px) and (max-width: 568px) {
    height: 22.5%;
  }

  span {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    padding-right: 5%;

    @media (max-width: 399px) {
      font-size: 2.5em;
    }

    @media (min-width: 400px) and (max-width: 767px) {
      font-size: 2.75em;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 3.875em;
    }

    @media (min-width: 1024px) and (max-width: 1600px) {
      font-size: 3.25em;
    }

    @media (min-width: 1601px) {
      font-size: 4em;
    }

    @media (min-width: 2400px) {
      font-size: 5.375em;
    }
  }
}
