.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .page-container {
    height: 75%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5%;
    font-family: 'League Spartan', sans-serif;

    @media (max-width: 399px) {
      height: 85%;
      width: 87.5%;
      row-gap: 3.5%;
    }

    @media (min-width: 400px) and (max-width: 767px)  {
      height: 77.5%;
      width: 87.5%;
      row-gap: 3.5%;
    }


    @media (min-width: 768px) and (max-width: 1023px) {
      height: 77.5%;
      width: 62.5%;
      row-gap: 5%;
    }

    @media (min-width: 1024px) and (max-width: 1600px) {
      height: 80%;
      width: 37%;
    }

    @media (min-width: 1601px) and (max-width: 1920px){
      height: 80%;
      width: 34%;
      row-gap: 3%;
    }

    @media (min-width: 1921px) {
      height: 80%;
      width: 38%;
      row-gap: 3%;
    }
  }
}
